@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CONTACT</title>
    <link rel="stylesheet" href="~/Contact/bright-contact-form/assets/css/style.css">
    <link rel="stylesheet" href="~/Contact/bright-contact-form/assets/css/font-awesome.css">
</head>

<body>
    <section class="w3l-contact-11">
        <div class="contacts-main">
            <div class="contant11-top-bg">
                <div class="wrapper">
                    <div class="d-grid contact section-gap">
                        <div class="contact-info-left d-grid text-center">
                            <div class="contact-info">
                                <span class="fa fa-location-arrow" aria-hidden="true"></span>
                                <h4>Address</h4>
                                <p>28 May Street    <br /> Baku, Azerbaijan</p>
                            </div>
                            <div class="contact-info">
                                <span class="fa fa-phone" aria-hidden="true"></span>
                                <h4>Phone</h4>
                                <p><a href="tel:+99455">+99455 626..... </a></p>
                                @*<p><a href="tel:+44 987 654 321">+44 987 654 321</a></p>*@
                            </div>
                            <div class="contact-info">
                                <span class="fa fa-envelope-open-o" aria-hidden="true"></span>
                                <h4>Mail</h4>
                                <p><a href="mailto:agababayev52@gmail.com" class="email">agababayev52@gmail.com</a></p>
                                @*<p><a href="mailto:mail@example.com" class="email">mail@example.com</a></p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-41-mian">
                <div class="wrapper">
                    <h3 class="cont-head" id="policy">Policy and use terms</h3>
                    <div class="d-grid align-form-map">
                        <div class="form-inner-cont">
                            <form action="~/Employee/Index" method="post" class="signin-form">
                                <div class="container" style="color:darkblue;font-size:18px;">
                                    <ol>

                                        <li>The information is a company secret </li>
                                        <li>Strictly prohibited from being passed on to outsiders!!!</li>
                                        <li>This web site for  handover action</li>
                                        <li>Your role decided by Admin</li>
                                        <li>There is A,B,C roles</li>
                                        <li>Only "A" roled user has full access</li> 
                                        <li>Deleted <span style="color:red">DEVICE</span> affects Handover device cells!!!</li>
                                        <li>Deleted <span style="color:red">DEPARTMENT</span> makes Employee Department cells to "Empty"</li>

                                        <li>"B" roled user can ADD, DISABLE, UPDATE, RECOVER </li>
                                        <li>"C" roled user READONLY permission</li>

                                    </ol>


                                </div>

                                <button type="submit" class="btn btn-contact">I UNDERSTAND AND ACCEPT</button>

                            </form>
                        </div>
                        <div class="map">


                            <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 100%">
                                <iframe src="https://maps.google.com/maps?q=28maystreet&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                                        style="border:0" allowfullscreen></iframe>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>


            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <a class="weatherwidget-io" href="https://forecast7.com/en/40d4149d87/baku/" data-label_1="BAKU" data-label_2="WEATHER" data-icons="Climacons Animated" data-theme="weather_one">BAKU WEATHER</a>
                        <script>
                            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                        </script>
                        <div class="text-muted">Copyright &copy; Web Site Designed by Nurlan Aghababayev 2021</div>
                    </div>
                </div>
            </footer>
        </div>
    </section>

       


</body>

</html>