@model MVCAsset.Models.Classes.Department
@{
    ViewBag.Title = "GetDep";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div style="width:100%; " class="container-fluid">
    <div style="width:55%;float:right">
        <img style="width:90%;height:80%;" src="~/Images/Depupdate.png" />
    </div>
    @using (Html.BeginForm("Update", "Department", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.DepartmentID);
        @Html.Label("DEPARTMENT");
        @Html.TextBoxFor(x => x.DepName, new { @class = "form-control col-md-4", required = "", maxlength = "30" });


        <br />

        <button id="btnup" class="btn btn-success">UPDATE</button>
        <a style="margin-left:1%" href="/Department/Index" class="btn btn-info">BACK</a>
    }
</div>

<br />


